<!-- views/partials/_header.ejs -->
<title>TinyApp</title>
<h5> TinyApp </h5>

<% if (userID) { %>
  <h4> You're Logged In!</h4>
  <form method="POST" action='/logout'>
    <input type='submit'value='Logout'>
  </form>
<% } else { %>
  <p><a href='/register'>Register</a></p>
  <p><a href='/login'>Login</a></p>
<% } %>
