<!-- views/partials/_header.ejs -->
<title>TinyApp</title>
<h5> TinyApp </h5>

<% if (userID) { %>
  <h3> Logged in as <%= userID.email %></h3>
<% } else { %>
  <p><a href='/register'>Register</a></p>
  <p><a href='/login'>Login</a></p>
<% } %>
