<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/_header %>
</head>
<body>
  <% if (userID) { %>

  <h2>URL List</h2>
  <% for (let shortUrl in urls) { %>
    <ul>
      <li><strong><%= shortUrl %></strong> is the id for: <%= urls[shortUrl].url %>
        <form method="get" action='"/urls/<%= shortUrl %>/'>
          <input type='submit' value='Edit'>
        </form>

        <form method="POST" action='/urls/<%= shortUrl %>/delete'>
          <input type='submit' value='Delete!'>
        </form>
      </li>
    </ul>
      <% } %>
    <p> <a href='/urls/new'>Create a new short url </a> </p>
  <% } else { %>
    <h1>Welcome to TinyApp!</h1>
  <% } %>
</body>
</html>
