<!DOCTYPE>
<html lang='en'>
  <head>
    <% include ./partials/_header.ejs %>
 </head>
       <body style="font-size:20px; padding:50px;">
     <h2>Create a new short URL</h2>

      <form action='/urls' method='post' style='margin:50px;'>
        <label for='longURL'>Enter a URL: </label>
        <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px'>
        <input type='submit' value='Submit'>
      </form>
      <p><a href="/urls">show all URLs</a></p>

  </body>
</html>
