<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/_header %>
</head>
<body>
  <h2>URL List</h2>
  <p>
<% for (let shortUrl in urls) { %>
<p>
<p><strong><%= shortUrl %></strong> is the id for: <%= urls[shortUrl] %> <a href="/urls/<%= shortUrl %>/">Edit</a></p>
<p>
  <form method="POST" action='/urls/<%= shortUrl %>/delete'>
    <input type='submit'value='Delete!'>
  </form>
  <% } %>
</p>

</ul>


</body>
</html>
